html {
  height: 100%;
}
html body {
  height: 100%;
}

html body .container-fluid.body-content {
  position: absolute;
  top: 50px;
  bottom: 30px;
  right: 0;
  left: 0;
  overflow-y: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

header .nav-link.active {
  color: white;
}

footer {
    background: #0a3b4d;
}

img {
  max-width: 100%;
}

.carousel-item img {
  filter: brightness(.5);
}

.carousel_description {
    z-index: 1;
    position: absolute;
    width: 30%;
    height: 30%;
    bottom: 10%;
    right: 10%;
    text-align: right;  
}

.card-img, .card-img-top {
  min-height: 406px;
}

.btn.tag {
  padding: 0px 6px;
  margin-bottom: 4px;
}

input[type="textarea"] {
  min-height: 5rem;
  padding: .75rem .5rem 4rem ;
  font-size: 1.3rem;
}

footer .nav {
    display: flex;
    width: 100%;
}